<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <title>Welcome to CriminaDector!</title>
  </head>
  <body>
    <header><%- include('../partials/header') %></header>
    <main>
      <div class="bg-secondary maincontainer">
        <div class="row" style="margin: 10px">
          <div class="col-8 divider">
            <h2>Recent Suspects</h2>
            <table class="tblhome">
              <tr class="trhome" rowspan="2">
                <td>
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-white" scope="col">Name</th>
                        <th class="text-white" scope="col">Location</th>
                        <th class="text-white" scope="col">Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (var i = 0; i < logs.length; i++){ %>
                        <tr>
                          <td class="text-white"><%= logs[i].name %></td>
                          <td class="text-white"><%= logs[i].location %></td>
                          <td class="text-white"><%= logs[i].date_time %></td>
                        </tr>
                      <% } %>
                    </tbody>
                  </table>
                </td>
              </tr>
            </table>
          </div>

          <div class="col-4">
            <h2>Recent Crime Activities</h2>
            <table class="tblhome">
              <tr class="trhome">
                <td>
                  <table class="tblhome">
                    <tr valign="middle">
                      <td style="width: 35%">
                        <img class="recentact" src="img/location_icon.png" />
                        <p>Barangay:</p>
                      </td>
                      <td>
                        <p>Mankilam</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img class="recentact" src="img/time_icon.png" />
                        <p>Time:</p>
                      </td>
                      <td>
                        <p>11:50 AM</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img class="recentact" src="img/crime_icon.png" />
                        <p>Crime:</p>
                      </td>
                      <td>
                        <p>Robbery</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
